{% extends "base.html" %}
{% block content %}

{% if error %}
  <body onload="throw_error('{{ error }}');">
{% else %}
  <body>
{% endif %}

<div class="container">


  <div class="starter-template">
    <h1>Adicionar equipamento</h1>
    <p class="lead"></p>
  </div>

  <div class="row">
    <form name="insert" method="post" action="{{ url_for('insert_result') }}" onsubmit="return validateInsert()">

        <div class="form-insert">
          <div class="row">

            <div class="col-xs-6">
              {% for i in range((globalValues['Header']|length/2)|int) %}
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">{{ globalValues['Header'][i] }}</span>
                  <input type="text" class="form-control" placeholder="" name="{{ globalValues['Header'][i] }}" aria-describedby="basic-addon1">
                </div>
              {% endfor %}
            </div>
            <div class="col-xs-6">
              {% for i in range(globalValues['Header']|length - (globalValues['Header']|length/2)|int) %}
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">{{ globalValues['Header'][i + (globalValues['Header']|length/2)|int] }}</span>
                  {% if globalValues['Header'][i + 9] == 'Start Date' or globalValues['Header'][i + 9] == 'End Date' %}
		  	               <input type="date" class="form-control" placeholder="" name="{{ globalValues['Header'][i + 9] }}" aria-describedby="basic-addon1">
		              {% else %}
			                 <input type="text" class="form-control" placeholder="" name="{{ globalValues['Header'][i + 9] }}" aria-describedby="basic-addon1">
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div> <!-- row formulario -->

          <!-- BOTÃO SUBMIT -->
          <div class="row">
            <div class="col-xs-12">
              <button type="submit" class="btn btn-primary submit" id="submit-insert" aria-label="Left Align">Submit</button>
            </div>
          </div>

        </div>

    </form>
  </div>
</div>

<script src="{{ url_for('static', filename='./styles/homepage.js') }}"></script>
{% endblock %}
